# متطلبات واجهة المستخدم والبيانات
streamlit
pandas
numpy
# متطلبات Gemini و Sentiment Analysis
google-genai
nltk
textblob
# متطلبات قاعدة البيانات
sqlalchemy
# متطلبات كشط البيانات
aiohttp
beautifulsoup4
# متطلبات البيئة
python-dotenv
